.venv/

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

.ipynb_checkpoints/

data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

outputs/figures/*
!outputs/figures/.gitkeep

.env

.DS_Store
.AppleDouble
.LSOverride

.vscode/settings.json
.vscode/launch.json